.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 40vw;
}

.name {
  font-weight: 700;
  font-size: 5rem;
}

.description {
  font-size: 3rem;
  text-align: center;
  margin-top: 2rem;
}
